examples/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
examples/**/*.gif filter=lfs diff=lfs merge=lfs -text
examples/**/*.webm filter=lfs diff=lfs merge=lfs -text
examples/**/*.png filter=lfs diff=lfs merge=lfs -text
